@import "layout/layout.css";
@import "components/components.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    all: unset;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    color: #1f2933;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}