@import "layout/layout.css";
@import "components/components.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    all: unset;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    color: #1f2933;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
/* Estilos para a página home */
body .container-home {
    padding-left: 20px; /*adiciona espaçamento esquerdo */
    padding-right: 20px; /*adiciona espaçamento direito */
}
body .container-imagens {
    display: flex; /*Permite que as imagens fiquem lado a lado*/
}
body .imagem1 {
    width: 350px; /*Determina o tamanho da imagem*/
}
body .imagem2 {
    width: 350px; /*Determina o tamanho da imagem*/
}
body .imagem3 {
    width: 383px; /*Determina o tamanho da imagem*/
}
body .container-texto-das-imagens {
    display: flex; /*Permite que os textos fiquem lado a lado*/
}
body .container-texto-imagem1 {
    text-align: center; /*Centraliza o texto*/
    width: 350px; /*Determina a largura do texto*/
}
body .container-texto-imagem2 {
    text-align: center; /*Centraliza o texto*/
    width: 350px; /*Determina a largura do texto*/
}
body .container-texto-imagem3 {
    text-align: center; /*Centraliza o texto*/
    width: 350px; /*Determina a largura do texto*/
}
body .container-images-services {
    display: flex; /*Permite que as imagens fiquem lado a lado*/
}
body .imagem4 {
    width: 320px; /*Determina o tamanho da imagem*/
}
body .imagem5 {
    width: 320px; /*Determina o tamanho da imagem*/
}
body .imagem6 {
    width: 320px; /*Determina o tamanho da imagem*/
}
body .imagem7 {
    width: 320px; /*Determina o tamanho da imagem*/
}
body .container-text-services {
    display: flex; /*Permite que os textos das imagens fiquem lado a lado*/
}
body .container-texto-imagem4 {
    text-align: center; /*Centraliza o texto*/
    width: 350px; /*Determina a largura do texto*/
}
body .container-texto-imagem5 {
    text-align: center; /*Centraliza o texto*/
    width: 350px; /*Determina a largura do texto*/
}
body .container-texto-imagem6 {
    text-align: center; /*Centraliza o texto*/
    width: 350px; /*Determina a largura do texto*/
}
body .container-texto-imagem7 {
    text-align: center; /*Centraliza o texto*/
    width: 350px; /*Determina a largura do texto*/
}
/* Estilos para a página de contato */
body .container-contactForm {
    display: flex; /* Permite o uso de flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}
body .container-contactForm {
    width: 100vw; /* Garante que ocupe toda a largura da viewport */
    margin-left: 0; /* Garante que ela comece do canto esquerdo absoluto */
    height: 100vh; /* Garante que ocupe toda a altura da viewport */
    background-color: aquamarine; /* cor de fundo aquamarine*/
}
body .contactForm{
    background-color:#F3F4F6; /* Cor de fundo cinza */
    width: 70vw; /* Largura de 70% da viewport */
    height: 70vh; /* Altura de 70% da viewport */
}
body .name-input {
    width: 50vw; /* Largura de 50% da viewport */
}
body .email-input {
    width: 50vw; /* Largura de 50% da viewport */
}
body .message-input {
    width: 50vw; /* Largura de 50% da viewport */
}
body .internal-contactForm{
    margin-top: 5vh; /* Espaçamento superior de 5% da viewport */
    margin-left: 5vw; /* Espaçamento esquerdo de 5% da viewport */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}
/* Estilos para a página Localização */
body .container-map {
    display: flex; /* Permite o uso de flexbox */
    padding-right: 20px; /* Cria um espaço de 20px na lateral direita */
    padding-left: 20px; /* Cria um espaço de 20px na lateral esquerda */
}
body .text-map {
    text-align: left; /* Alinha o texto a esquerda */
}
body #map {
    text-align: right; /* Alinha o mapa a direita */
}
body .text-link-localization {
    text-decoration: none; /*Retira a suplinhado do link*/
}
body .clinic-banner {
    width: 43vw; /* Garante que ocupe 45% a largura da viewport */
}
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}