/* header.header-main
   - display: flex: transforma o elemento <header> em um container flexível
   - flex-direction: column: empilha os filhos na vertical (nav acima do h1)
*/
header.header-main {
    display: flex;
    flex-direction: column; 
}


/* header.header-main nav
   - width: 100%: faz o nav ocupar toda a largura do header
   - display: flex: organiza os itens do nav em linha (flex row)
   - justify-content: flex-end: alinha os itens do nav à direita
*/
header.header-main nav {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    background-color:rgb(5, 185, 240, 0.856);
}

.home_button{
    background-color: #4ca8af; 
    color: rgb(247, 247, 247);
    padding: 10px 20px;
    border-radius: 7px;
    transition: box-shadow 0.2s ease, transform 0.12s ease;
    border-color: darkblue;
}
.home_button:hover{
    box-shadow: 0 8px 20px rgb(6, 85, 150);
    transform: translateY(-1px);
}

.localizacao_button,
.contato_button {
    background-color: #4ca8af; 
    color: rgb(247, 247, 247);
    padding: 10px 20px;
    border-radius: 7px;
    transition: box-shadow 0.2s ease, transform 0.12s ease;
    border-color: darkblue;
}
.localizacao_button:hover,
.contato_button:hover {
    box-shadow: 0 8px 20px rgb(6, 85, 150);
    transform: translateY(-2px);
}

.home_button:focus-visible,
.localizacao_button:focus-visible,
.contato_button:focus-visible {
    box-shadow: 0 8px 20px rgb(6, 85, 150);
    outline: none;
}