@import "./form.css";
@import "contact/contact_form.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

input, textarea {
  @apply w-full 
            mt-1 
            border 
            border-blue-50 
            rounded-md p-2 
            focus:outline-none 
            focus:ring-2 
            focus:ring-blue-500;
}

label {
  @apply font-semibold;
  @apply text-blue-950;
}

button {
  @apply bg-blue-600 
        text-white 
        font-bold 
        py-2 
        px-4 
        rounded 
        hover:bg-blue-700 
        transition-colors 
        duration-300;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: revert-layer;
}
