name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Permite criar releases e tags
      issues: write # Permite comentar em issues
      pull-requests: write # Permite comentar em PRs

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PAT || secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.10.0"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Create build directory
        run: mkdir build

      - name: Build project
        run: npm run build

      - name: Package build
        run: |
          cd build
          zip -r ../eniac-projeto-build.zip .

      - name: Release
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT || secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: semantic-release-bot
          GIT_AUTHOR_EMAIL: semantic-release-bot@github.com
          GIT_COMMITTER_NAME: semantic-release-bot
          GIT_COMMITTER_EMAIL: semantic-release-bot@github.com
        run: npx semantic-release
